{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>Add a Post:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
    <br>
</div>

<script>

    $(document).ready(function(){

        $('button').click(function(){
            if ($('form')[0].checkValidity()) {
                $('button').html(`<i class="fa fa-spinner fa-spin loading"></i> Adding...`);
            }
        });

    });

</script>

{% endblock %}